*DS_Store*
*.o
*.lo
*.log
*.gcov
*.gcno
*.gcda
*.Plo
charset.alias
ref-add.sed
ref-del.sed
*~
.deps/*.*o
*/.deps/*.*o
*/*/.deps/*.*o
.libs
*.la
*.cache
*.dirstamp
*.status
libtool
confdefs.h
config.h
conftest*
*stamp-*
pkg-config
check/config.sh
check/Makefile
config.lt
glib/glib/glibconfig.h
glib/glib/glibconfig-stamp
Makefile
